[submodule "external/Stein-Thinning-Cpp"]
	path = external/Stein-Thinning-Cpp
	url = https://github.com/congyewang/Stein-Thinning-Cpp.git
[submodule "external/carma"]
	path = external/carma
	url = https://github.com/RUrlus/carma.git
[submodule "external/armadillo"]
	path = external/armadillo
	url = https://gitlab.com/conradsnicta/armadillo-code.git
